<% provide(:title, "経歴") %>
<div class="center">
  <h1>私の経歴</h1>
  <p>千葉県旭市で生まれ成田市で育ち、<br>専門学校に通うために18歳の時に上京。</p>
  <p>19歳で専門学校を卒業し、電気工事士として現場作業員を4年間務める。</p>
  <p>23歳で退職し、友人を頼りに愛媛県に行く。</p>
  <p>愛媛では、医療系営業職を2年間務める。</p>
  <p>25歳で退職し、プログラマーを目指すために再度、上京し現在に至る。</p>
  <%= link_to "NEXT:プログラマーを目指した動機", future_path %>
</div>