<% provide(:title, "エンジニアを目指した動機") %>
<div class="center">
  <h1>なぜエンジニアになりたいと思ったのか?</h1>
  <p>現代で、世の中に何かを残せる技術を身に付けたい。</p>
  <p>自分が誇れる何かを作り出したいと思いました。</p>
  <p>そう考えていた時、実際にエンジニアをしている先輩と再開をしました。</p>
  <p>話しをした際に、辛いこともあるがクリエイティブな仕事でやりがいがあるということを聞きました。</p>
  <p>実際に、働いている人と話しができたことで、私もエンジニアを目指したいという気持ちが強くなりました。</p>
  <p>そして、冒頭に書いた理想を叶えるためには、エンジニアが最も近いのではないかと思いました。</p>
  <%= link_to "NEXT:詳細情報", like_path %> 
</div>