<% provide(:title, "なぜ?") %>
<div class="center">
  <h1>なぜエンジニアになりたいと思ったのか?</h1>
  <p>現代で、世の中に何かを残せる技術を身に付けたい。</p>
  <p>自分が誇れる何かを作り出したいと思いました。</p>
  <p>それを叶えたいと考えたとき、エンジニアが最も近いのではないかと思いました。</p>
  <%= link_to "プライベート", like_path %> 
</div>