<% provide(:title, "はじめに") %>
<div class="center">
  <h1>初めまして!</h1>
  <p>小貫 祐汰と申します。</p>
  <p>まず最初に、私のポートフォリオに興味を持っていただき、ありがとうございます。</p>
  <p>Ruby on Railsを使いポートフォリオとして自己紹介のページを作りました。</p>
  <%= link_to "NEXT:経歴", about_path %>
</div>